#root {
  max-height:1200px;
  margin: 0 auto;
  text-align: center;
}

.chat-start .chat-bubble{
background-color: #3f51b5;
color: white;
}

.chat-end .chat-bubble{
  background-color: #00bcd4;
  color: white;
}
  